body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url('images/lone-tree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


canvas {
    display: block;
}

#game-container {

    width: 800px;
    height: 600px;
    position: relative;
}

#pump-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1c40f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
#pump-btn:hover{
    background:linear-gradient(orange,green);
}